<div class="metrics">
  <span class="word-count">0</span>
</div>

<div class="saved">
  <span>Saved 2 mins ago</span>
</div>
<div class="close">
  <span>X</span>
</div>

<div class="writing-area">
  <textarea autofocus="autofocus" class="col-lg-6"></textarea>
</div>

