<div class="word-count">
<span>0</span>
<span class="words hidden">
  words
</span>
</div>
<div class="saved">
  <span>Saved 2 mins ago</span>
</div>
<div class="close">
  <span>X</span>
</div>
<article class="writing-area">
  <textarea autofocus="autofocus" class="col-lg-6"></textarea>
</article>

