<h3>Displaying Projects created by <%= current_user.email %></h3>

<div>
  <% if current_user.admin? %>
    <p><b>Greetings, almighty admin!</b></p>
  <% end %>
</div>

<div class="project-form">
  <%= render "form", project: @project %>
</div>

<div class="projects">
  <ul>
    <%= render @projects %>
  </ul>
</div>
