@import "bourbon";
@import "base/base";
@import "neat";
@import "layouts";
@import "writing_area";
@import "project_index";
@import "log_in";
@import "prompt_index";
@import "navigation";
@import "comments";
@import "prompt";
@import "project";
@import "sign_up";

body {
  background: #f1f1f1;
}

.prompts {
  @include outer-container;
  @include shift(.5);
  @include clearfix;
  padding: 5px;
}

.prompt-section {
  @include outer-container;
}

.new-prompt {
  @include outer-container;
}

.prompt-links {
  float: right;
  @include clearfix;
}

.comment-section {
  @include outer-container;
  @include span-columns(5);
}
