$xs: 12px;
$s: 18px;
$m: 24px;
$l: 32px;

$default: darken(#bbb, 25%);
$light-default: #bbb;

.hidden {
  display: none;
}

// WRITING INTERFACE
.word-count {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: $m;
  color: $light-default;
  // cursor: default;

  &:hover {
    transition: color 100ms;
    color: $default;
  }

  .words {
    color: $default;
    font-size: $s;
  }
}

.saved {
  font-size: $s;
  color: $default;
  position: absolute;
  top: 5%;
  right: 1%;
}

.close {
  text-decoration: none;
  font-size: $m;
  color: $light-default;
  position: absolute;
  top: 1%;
  right: 1%;
  // cursor: pointer;

  &:hover {
    color: $default;
  }
}

.save-quit {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: $s;
  color: $default;
}
  .writing-area {
    width: 60%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;

    textarea {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      border: none;
      outline: none;
      font-size: $l;
      color: #444;
      resize: none;
  }
}
